body {
    background-color: rgba(73,155,234,0.9) !important;
}
.row
{
	padding:2%;
}
.navbar {
    border: 0!important;
    border-color: transparent !important;
    box-shadow:none!important;
}
.body-content
{
    width:100%!important;
}
p
{
    color:white;
    font-size:3rem;
}
h1
{
    color:white!important;
    font-weight:bold!important;
    font-size:10rem;
}
