.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    padding-top: 18px;
    padding-bottom: 18px;
}
p,h2{
    font-weight:bold;
    color:black;
}
body {
    background-color: #0a3d91;
}
h1 {
    color: black;
    font-weight: bold;
}
.navbar {
    background-color: #917808 !important;
}
.carousel {
    padding: 20px 0px 5px 0px;
}